[submodule "extern/BethesdaCMakeModules"]
	path = extern/BethesdaCMakeModules
	url = https://github.com/shad0wshayd3/BethesdaCMakeModules.git
[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/shad0wshayd3/CommonLibSSE.git
